.app-header
{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	max-width: 800px;
	margin: auto;
	z-index:1;
}

.app-header img
{
	vertical-align:middle;
}

.app-header md-progress-bar
{
	position:absolute;
	top:64px;
}

.app-container
{
	max-width: 800px;
	margin: auto;
	height:100%;
	background:white;
	padding-top:64px;
}

.app-content
{
	background:white;
	padding:10px;
}