.app-header
{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	max-width: 800px;
	margin: auto;
	z-index:1;
}
.app-header md-progress-bar
{
	position:absolute;
	top:59px;
}
.app-container
{
	max-width: 800px;
	margin: auto;
	height:100%;
	background:white;
}
.app-content
{
	background:white;
	padding:10px;
}