html
{
	width:100%;
	height:100%;
}

body
{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	background-image:url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

md-card
{
	margin:0px;
}
md-card:not(:first-child)
{
	margin-top:10px;
}

md-dialog-container
{
	padding:0px !important;
	min-width: 300px;
}

md-list
{
	padding:0px !important;
	margin:0px !important;
}

[routerLink]
{
	cursor:pointer;
}

.fill-remaining-space
{
	flex: 1 1 auto;
}

.justify
{
	text-align: justify;
}

.label-good
{
    color: green !important;
    font-weight: bold;
}

.label-imperfect
{
    color: orange !important;
    font-weight: bold;
}

.label-preliminary
{
    color: red !important;
    font-weight: bold;
}

.label-baddump
{
	color: red;
    font-weight: bold;
}

.label-nodump
{
	color: black;
    font-weight: bold;
	text-decoration:line-through;
}

.biosset-default
{
	font-weight: bold;
}

.dipvalue-default
{
	font-weight: bold;
}

.sep
{
	margin-left:5px;
	margin-right:5px;
}

.md-primary
{
	background:rgb(255,87,34) !important;
}