{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": false
			}
		],
		[
			"minify",
			{
				"builtIns": false
			}
		]
	],
	"comments": false,
	"plugins": [
		"@babel/plugin-syntax-dynamic-import"
	]
}