{
    "parser": "babel-eslint",
    "parserOptions": {
        "allowImportExportEverywhere": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "node": true,
        "browser": true
    },
    "globals": {
        "ng": true,
        "nw": true,
        "Blazy": true,
        "io": true,
        "Masonry": true,
        "PhotoSwipe": true,
        "PhotoSwipeUI_Default": true,
        "onmessage": true
    }
}