<md-toolbar color="primary">
	{{'L10N_DIP_SWITCH'|translate}}
	<span class="fill-remaining-space"></span>
	<button (click)="close()" class="link-button">
		<i class="material-icons md-24">clear</i>
	</button>
</md-toolbar>
<ul>
	<li *ngFor="let item of provider; trackBy item?.name">{{item.name}}
		<ul>
			<li *ngFor="let switch of item.switchs; trackBy switch?.name">{{switch.name}}
				<ul>
					<li *ngFor="let value of switch.values; trackBy value?.name" [class]="value.default == 'yes' ? 'dipvalue-default' : null">
						{{value.name}} ({{value.value}})
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>