<mat-card>
	<mat-card-title>
		{{'L10N_MY_GAMES'|translate}}
	</mat-card-title>
</mat-card>
<div *ngIf="model.data.allGames.length > 0">
	<mat-list>
		<mat-nav-list>
			<a mat-list-item *ngFor="let game of model.data.allGames; trackBy:model.trackByName" routerLink="/detail" [queryParams]="{name:game.name}">
				<img mat-list-avatar [src]="model.getGameIconUrl(game)">
				<span class="sep"></span>
				{{game.description}}
			</a>
		</mat-nav-list>
	</mat-list>
</div>
<mat-card>
	<mat-card-title>
		{{'L10N_MY_BIOS'|translate}}
		<button mat-mini-fab scrollToTop>
			<i class="material-icons mat-24 mat-light">arrow_drop_up</i>
		</button>
	</mat-card-title>
</mat-card>
<div *ngIf="model.data.allBios.length > 0">
	<mat-list>
		<mat-nav-list>
			<a mat-list-item *ngFor="let bios of model.data.allBios; trackBy:model.trackByName" routerLink="/detail" [queryParams]="{name:bios.name}">
				<img mat-list-avatar [src]="model.getGameIconUrl(bios)">
				<span class="sep"></span>
				{{bios.description}}
			</a>
		</mat-nav-list>
	</mat-list>
</div>