<div *ngFor="let group of model.data.list; let index=index; trackBy:model.trackByLabel">
    <mat-card *ngIf="model.data.list.length > 1 && index > 0">
        <mat-card-title>
            <!--{{group.label}}-->
            &nbsp;
            <button mat-mini-fab scrollToTop>
                <i class="material-icons mat-24 mat-light">arrow_drop_up</i>
            </button>
        </mat-card-title>
    </mat-card>
    <mat-nav-list>
        <mat-list-item *ngFor="let item of group.data; trackBy:model.trackByLabel">
            <a class="fill-remaining-space" routerLink="/result" [queryParams]="{type:'version', value:item.label}">
                {{item.label}} 
            </a>
            <span class="addition-count">(+{{item.data}})</span>
            <a *ngIf="model.changeLogAvailable(item.label)" target="_blank" [href]="'http://mamedev.org/releases/whatsnew_'+model.getVersion(item.label)+'.txt'">
                <i class="material-icons mat-24 mat-dark">track_changes</i>
            </a>
            <span *ngIf="!model.changeLogAvailable(item.label)">
                <i class="material-icons mat-24 mat-dark mat-inactive">track_changes</i>
            </span>
        </mat-list-item>
    </mat-nav-list>
</div>