<md-card>
	<md-card-title>
		{{model.getSearchTabLabel(model.data.selectedIndex)|translate}}
		<span *ngIf="model.data.count !== 0">( {{model.data.count}} )</span>
	</md-card-title>
</md-card>
<md-tab-group [selectedIndex]="model.data.selectedIndex">
	<md-tab>
		<template md-tab-label>
			<a routerLink="/search" [queryParams]="{type:'description'}">
				<i class="material-icons md-24">search</i>
			</a>
		</template>
		<form #descriptionForm="ngForm">
			<md-input required name="description" placeholder="{{'LION_GAME_NAME'|translate}}" [(ngModel)]="model.data.description"></md-input>
			<button [disabled]="!descriptionForm.form.valid" routerLink="/result" [queryParams]="{type:'description', value:model.getEncodedValue(model.data.description)}" type="submit" md-mini-fab>
				<i class="material-icons md-24 md-light">search</i>
			</button>
		</form>
	</md-tab>
	<md-tab>
		<template md-tab-label>
			<a routerLink="/search" [queryParams]="{type:'categories'}">
				<i class="material-icons md-24">folder_open</i>
			</a>
		</template>
		<md-nav-list>
			<a md-list-item *ngFor="let category of model.data.categories; trackBy category?.label" routerLink="/result" [queryParams]="{type:'category', value:model.getEncodedValue(category.label)}">
				{{category.label}}
			</a>
		</md-nav-list>
	</md-tab>
	<md-tab>
		<template md-tab-label>
			<a routerLink="/search" [queryParams]="{type:'series'}">
				<i class="material-icons md-24">list</i>
			</a>
		</template>
		<md-nav-list>
			<a md-list-item *ngFor="let series of model.data.series; trackBy series?.label" routerLink="/result" [queryParams]="{type:'series', value:model.getEncodedValue(series.label)}">
				{{series.label}}
			</a>
		</md-nav-list>
	</md-tab>	
	<md-tab>
		<template md-tab-label>
			<a routerLink="/search" [queryParams]="{type:'years'}">
				<i class="material-icons md-24">today</i>
			</a>
		</template>
		<md-nav-list>
			<a md-list-item *ngFor="let year of model.data.years; trackBy year?.label" routerLink="/result" [queryParams]="{type:'year', value:model.getEncodedValue(year.label)}">
				{{year.label}}
				<span class="fill-remaining-space"></span>
				({{year.data}})
			</a>
		</md-nav-list>
	</md-tab>
	<md-tab>
		<template md-tab-label>
			<a routerLink="/search" [queryParams]="{type:'manufacturers'}">
				<i class="material-icons md-24">business</i>
			</a>
		</template>
		<md-nav-list>
			<a md-list-item *ngFor="let manufacturer of model.data.manufacturers; trackBy manufacturer?.label" routerLink="/result" [queryParams]="{type:'manufacturer', value:model.getEncodedValue(manufacturer.label)}">
				{{manufacturer.label}}
			</a>
		</md-nav-list>
	</md-tab>
	<md-tab>
		<template md-tab-label>
			<a routerLink="/search" [queryParams]="{type:'versions'}">
				<i class="material-icons md-24">plus_one</i>
			</a>
		</template>
		<md-nav-list>
			<md-list-item *ngFor="let version of model.data.versions; trackBy version?.label">
				<a class="fill-remaining-space" routerLink="/result" [queryParams]="{type:'mameversionadded', value:model.getEncodedValue(version.label)}">
					{{version.label}} (+{{version.data}})
				</a>
				<a *ngIf="model.changeLogAvailable(model.getEncodedValue(version.label))" target="_blank" href="http://mamedev.org/releases/whatsnew_{{model.getVersion(model.getEncodedValue(version.label))}}.txt">
					<i class="material-icons md-24">track_changes</i>
				</a>
			</md-list-item>
		</md-nav-list>
	</md-tab>
</md-tab-group>