<md-card>
	<md-card-title>
		{{model.getSearchTabLabel(model.data.selectedIndex)|translate}}
		<span *ngIf="model.data.count !== 0">( {{model.data.count}} )</span>
	</md-card-title>
</md-card>
<div class="default-spacer"></div>
<md-tab-group [selectedIndex]="model.data.selectedIndex">
	<md-tab>
		<template md-tab-label>
			<a routerLink="/search" [queryParams]="{type:'description'}">
				<i class="material-icons md-24">search</i>
			</a>
		</template>
		<div class="default-spacer"></div>
		<form #descriptionForm="ngForm">
			<md-input #descriptionInput pattern=".{3,}" required name="description" placeholder="{{'LION_GAME_NAME'|translate}}" [(ngModel)]="model.data.description"></md-input>
			<button *ngIf="model.data.description.length > 0" (click)="model.data.description = '';descriptionInput.focus();" type="button" md-mini-fab>
				<i class="material-icons md-24 md-light">clear</i>
			</button>
			<button *ngIf="descriptionForm.form.valid" routerLink="/result" [queryParams]="{type:'description', value:model.getEncodedValue(model.data.description)}" type="submit" md-mini-fab>
				<i class="material-icons md-24 md-light">search</i>
			</button>
		</form>
	</md-tab>
	<md-tab>
		<template md-tab-label>
			<a routerLink="/search" [queryParams]="{type:'categories'}">
				<i class="material-icons md-24">folder_open</i>
			</a>
		</template>
		<div *ngFor="let group of model.data.categories.list; let index=index; trackBy group?.label">
			<div *ngIf="model.data.categories.list.length > 1">
				<div class="default-spacer"></div>
				<md-card >
					<md-card-title>
						{{group.label}}
						<button *ngIf="index > 0" md-mini-fab scrollToTop>
							<i class="material-icons md-24 md-light">arrow_drop_up</i>
						</button>
					</md-card-title>
				</md-card>
			</div>
			<div class="default-spacer"></div>
			<md-nav-list>
				<a md-list-item *ngFor="let category of group.data; trackBy category?.label" routerLink="/result" [queryParams]="{type:'category', value:model.getEncodedValue(category.label)}">
					{{category.label}}
				</a>
			</md-nav-list>
		</div>
	</md-tab>
	<md-tab>
		<template md-tab-label>
			<a routerLink="/search" [queryParams]="{type:'series'}">
				<i class="material-icons md-24">list</i>
			</a>
		</template>
		<div *ngFor="let group of model.data.series.list; let index=index; trackBy group?.label">
			<div *ngIf="model.data.series.list.length > 1">
				<div class="default-spacer"></div>
				<md-card >
					<md-card-title>
						{{group.label}}
						<button *ngIf="index > 0" md-mini-fab scrollToTop>
							<i class="material-icons md-24 md-light">arrow_drop_up</i>
						</button>
					</md-card-title>
				</md-card>
			</div>
			<div class="default-spacer"></div>
			<md-nav-list>
				<a md-list-item *ngFor="let series of group.data; trackBy series?.label" routerLink="/result" [queryParams]="{type:'series', value:model.getEncodedValue(series.label)}">
					{{series.label}}
				</a>
			</md-nav-list>
		</div>
	</md-tab>	
	<md-tab>
		<template md-tab-label>
			<a routerLink="/search" [queryParams]="{type:'years'}">
				<i class="material-icons md-24">today</i>
			</a>
		</template>
		<div *ngFor="let group of model.data.years.list; let index=index; trackBy group?.label">
			<div *ngIf="model.data.years.list.length > 1">
				<div class="default-spacer"></div>
				<md-card >
					<md-card-title>
						{{group.label}}
						<button *ngIf="index > 0" md-mini-fab scrollToTop>
							<i class="material-icons md-24 md-light">arrow_drop_up</i>
						</button>
					</md-card-title>
				</md-card>
			</div>
			<div class="default-spacer"></div>
			<md-nav-list>
				<a md-list-item *ngFor="let year of group.data; trackBy year?.label" routerLink="/result" [queryParams]="{type:'year', value:model.getEncodedValue(year.label)}">
					{{year.label}}
					<span class="fill-remaining-space"></span>
					({{year.data}})
				</a>
			</md-nav-list>
		</div>
	</md-tab>
	<md-tab>
		<template md-tab-label>
			<a routerLink="/search" [queryParams]="{type:'manufacturers'}">
				<i class="material-icons md-24">business</i>
			</a>
		</template>
		<div *ngFor="let group of model.data.manufacturers.list; let index=index; trackBy group?.label">
			<div *ngIf="model.data.manufacturers.list.length > 1">
				<div class="default-spacer"></div>
				<md-card >
					<md-card-title>
						{{group.label}}
						<button *ngIf="index > 0" md-mini-fab scrollToTop>
							<i class="material-icons md-24 md-light">arrow_drop_up</i>
						</button>
					</md-card-title>
				</md-card>
			</div>
			<div class="default-spacer"></div>
			<md-nav-list>
				<a md-list-item *ngFor="let manufacturer of group.data; trackBy manufacturer?.label" routerLink="/result" [queryParams]="{type:'manufacturer', value:model.getEncodedValue(manufacturer.label)}">
					{{manufacturer.label}}
				</a>
			</md-nav-list>
		</div>
	</md-tab>
	<md-tab>
		<template md-tab-label>
			<a routerLink="/search" [queryParams]="{type:'versions'}">
				<i class="material-icons md-24">plus_one</i>
			</a>
		</template>
		<div *ngFor="let group of model.data.versions.list; trackBy group?.label">
			<md-nav-list>
				<md-list-item *ngFor="let version of group.data; trackBy version?.label">
					<a class="fill-remaining-space" routerLink="/result" [queryParams]="{type:'mameversionadded', value:model.getEncodedValue(version.label)}">
						{{version.label}} 
					</a>
					<span class="search-version-addition-count">(+{{version.data}})</span>
					<a *ngIf="model.changeLogAvailable(model.getEncodedValue(version.label))" target="_blank" [href]="'http://mamedev.org/releases/whatsnew_'+model.getVersion(model.getEncodedValue(version.label))+'.txt'">
						<i class="material-icons md-24 md-dark">track_changes</i>
					</a>
					<span *ngIf="!model.changeLogAvailable(model.getEncodedValue(version.label))">
						<i class="material-icons md-24 md-dark md-inactive">track_changes</i>
					</span>
				</md-list-item>
			</md-nav-list>
		</div>
	</md-tab>
</md-tab-group>