<md-card>
	<md-card-title>
		{{getSearchTabLabel(model.data.selectedIndex)|translate}}
		<span *ngIf="model.data.count !== 0">( {{model.data.count}} )</span>
	</md-card-title>
</md-card>
<md-tab-group [(selectedIndex)]="model.data.selectedIndex" (selectChange)="tabChanged($event)">
	<md-tab id="description">
		<template md-tab-label><i class="material-icons md-24">search</i></template>
		<template md-tab-content>
			<form (ngSubmit)="findByDescription()">
				<md-input required name="description" placeholder="{{'LION_GAME_NAME'|translate}}" [(ngModel)]="model.data.description"></md-input>
			</form>
		</template>
	</md-tab>
	<md-tab>
		<template md-tab-label><i class="material-icons md-24">folder_open</i></template>
		<template md-tab-content>
			<md-nav-list>
				<a md-list-item *ngFor="let category of model.data.categories" routerLink="/result" [queryParams]="{type:'category', value:category}">{{category}}</a>
			</md-nav-list>
		</template>
	</md-tab>
	<md-tab>
		<template md-tab-label><i class="material-icons md-24">list</i></template>
		<template md-tab-content>
			<md-nav-list>
				<a md-list-item *ngFor="let series of model.data.series" routerLink="/result" [queryParams]="{type:'series', value:series}">{{series}}</a>
			</md-nav-list>
		</template>
	</md-tab>	
	<md-tab>
		<template md-tab-label><i class="material-icons md-24">today</i></template>
		<template md-tab-content>
			<md-nav-list>
				<a md-list-item *ngFor="let year of model.data.years" routerLink="/result" [queryParams]="{type:'year', value:year}">{{year}}</a>
			</md-nav-list>
		</template>
	</md-tab>
	<md-tab>
		<template md-tab-label><i class="material-icons md-24">business</i></template>
		<template md-tab-content>
			<md-nav-list>
				<a md-list-item *ngFor="let manufacturer of model.data.manufacturers" routerLink="/result" [queryParams]="{type:'manufacturer', value:manufacturer}">{{manufacturer}}</a>
			</md-nav-list>
		</template>
	</md-tab>
</md-tab-group>